.idea
static
venv
venv/
log.py
makefile
environ.py
makefile
logs/

logs
*.log
*.sqlite3
*.sqlite
__pycache__/
*.py[cod]

.venv

.env
.prod
*.mo
*.pot
develop-eggs/
dist/
downloads/
env_files/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
idea/
log/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.db
*.csv
*.xml
*iml
*.iml
*$py.class

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist